.userCart{
    text-align: center;
    min-width: fit-content;
    color: #fff;
    border: solid 3px $secondary-color;
    border-radius: .7rem;
    padding: 2rem 1rem; 
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .pay{
            width: 100%;
            div{
                display: flex;
                width: 100%;
                gap: 1rem;
                align-items: center;
                border-bottom: solid 1px #908f8f;
            }
            h3{
                font-size: .8rem;
                width: 70%;
                text-align: end;

            }
            span{
                font-size: .8rem;
                width: 30%;
                
            }
            button{
                
                    text-decoration: none;
                    color: $tertiary-color;
                    &:active{
                        color:#136d33
                    }
              
                margin-top: 1rem;
                background-color: transparent;
                
                border: none;
                font-size: 1.5rem;
                width: fit-content;
                float:right;
                cursor: pointer;

            }
        }
    }
    .titles{
        display: none;
    }
    .userItem{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            max-width:90px ;
            max-height:110px ;
            width: 100%;
            height: auto;
        }
        .userCart_item_content{
            display: flex;
            width: 100%;
           
        flex-direction: column;

            h3{
                flex: 1.75;
                font-size: 1rem;
            }
            p{
                flex: 1.35;
            }
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .15rem;
                button{
                    border-radius: 800rem;
                    background-color: $secondary-color;
                    border: none;
                    width: 18px;
                    height: 20px;
                    padding: .3rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
                flex: .4;
            }
            .total{
                flex: 1;
               
            }

        }
    }
}
#grey{
    border: solid 1px #908f8f;
}
.select{
    border: solid 1px $secondary-color !important;
}
.MP-Button{
    background-color: #000 ;
    color: #fff;
    padding: .4rem;
    font-size: 1.15rem;
    border-radius: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.28);
  margin: 1rem auto;
  max-width: 300px;
  transition: box-shadow 0.3s;
  transition: background-color 0.3s;
  transition: transform 0.3s;
  &:active {
    background-color: #121212 ;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.6);
    animation: clickEffect 0.2s ease;
  }
 cursor: pointer;
  border: none;}

@include media-md{
    .userCart{
        text-align: start;
        .container{
            width: 100%;
            .pay{
                h3{
                    font-size: 1.2rem;

                }
                span{
                    font-size: 1rem;
                }
            }
        }
        .titles{
            width: 100%;
            flex-direction: row;
            display: flex;
            p:nth-child(1){flex: 1.75;padding-right: 85px;}
            p:nth-child(2){flex: 1.35;}
            p:nth-child(3){flex: .4;}
             p:nth-child(4){flex: 1;text-align: end;}
    
        }
        .userItem{
            width: 100%;
            flex-direction: row;
            .userCart_item_content{

                align-items: center ;
            flex-direction: row;
    

                div{
                    justify-content: flex-start;
                }
                .total{
                   
                    text-align: end;
                }
    
            }
        }
    }
}
@keyframes clickEffect {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }