.profile{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    border: solid 3px $secondary-color;
    border-radius: .7rem;
    button{
        align-self: flex-end;
        background-color: transparent;
        color: $secondary-color;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        &:active{
            color:#b9134f
        }
    }
    .buttonDiv{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        button{
            width: 100%;
        }
    }
    input,select{
        margin: .7rem;
        resize: none;
        border: none;
        padding: .5rem;
        width: 90%;
        background-color: transparent;
        border-bottom: solid 1px #908f8f;
        color: #FFF;
        &:focus{
            outline: none;
        border-bottom: solid 1px #ddd;

        }
    }
    option{color: black;}
    article{
        width: 90%;
    }
    p{
        color: #908f8f;
        font-size: 1rem;
    }
    h5{
        color: #FFF;
        font-size: 1rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20%;
        div{
            flex: 1;

         
        }
    }
}

@include media-md{
    .profile{
        text-align: left;
        .buttonDiv{
            flex-direction: row;
            align-self: flex-end;
        }
        .container{
            flex-direction: row;
        }
    }
}