
.wine {
    display: flex;
    flex-direction: column;
  

  
    &_experience {
      min-height: 70vh;
      width: 100%;
      color: set-text-color(rgba(0, 0, 0, 0.809));
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      justify-content:space-evenly;
      gap: 2rem;
      row-gap: 3rem;
      padding: 2rem 0;
  
      h2 {
        color: white;
        position: relative;
        z-index: 1;
        text-align: center;
        font-size: 80%;
      }
    }
  
    &_img {
      width: 100%;
      max-height: 457px;
      aspect-ratio: 1400/1600;
    }
  
    &_div {
   
      max-width: 100%;
      width: 300px;
      height: fit-content;
      max-height: 600px;
      background-color: rgb(51, 50, 50);
      border-bottom: solid 5px $secondary-color;
      position: relative;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.289);
      margin: 1rem auto;

    }
  
    &_buttons {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      gap: 10%;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      @include transition-ease;
  
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 0%;
        width: 100%;
        background: $primary-color;
        opacity: 0;
        @include transition-ease;
      }
      .wine_buttons-container{
        width: 100%;
        display: flex;
        gap: 20%;
        align-items: center;
        justify-content: center;
      }
      button {
        cursor: pointer;
        background: none; 
        border: none;
        color: #FFF;
        z-index: 2;
        margin-bottom: 27px;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
  

      }
      p{
        color: #FFF;
        z-index: 2;
        margin-bottom: 27px;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
      }
      &:hover {
        &::after {
          top: 0;
          opacity: 0.9;
          height: 100%;
        }
  
        button,p {
          display: block;
          visibility: visible;
        }

      }
    }
  }
  
.Vintus_background{
  background-color: rgba(0, 0, 0, 0.849);
  height: 100%;

}  
.Vintus{
  width: 100%;
  margin: 0rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  &_article{
    position: relative;
    width: 100%;
    h2{
      font-size: 1.2rem;
      color: $secondary-color;
      text-align: center;
    }
    p{
      font-size: .8rem;
      color: #DDD;
    }
  }
  &_img{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
    }
  }
}
.corner_botom,
.corner_top{
  position: absolute;
  height: 50px;
  width: 50px;
}
.corner_botom{
  bottom: -2%;
  right: -9%;
  border-bottom: 1px solid $secondary-color;
  border-right:1px solid $secondary-color ;
}
.corner_top{
  top: -2%;
  right: -9%;
  border-top: 1px solid $secondary-color;
  border-right:1px solid $secondary-color ;
}
@include media-min{
  .wine_experience{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  }
}
@include media-md{
  
  .Vintus{
    width: 95%;
    flex-direction: row;
    &_article{
      width: 50%;
      p{
        font-size: .6rem;
      }
      h2{
        font-size: .9rem;
      }
    }
    &_img{

      width: 50%;

    }}
}
@include media-lg{
  .Vintus{

    flex-direction: row;
    &_article{
      width: 50%;
      p{
        font-size: .7rem;
      }
      h2{
        font-size: 1rem;
      }
    }
    &_img{

      width: 50%;

    }}
}
@include media-xl{
  .Vintus{
    width: 80%;
    flex-direction: row;
    &_article{
      width: 50%;
      p{
        font-size: .9rem;
      }
      h2{font-size: 1.2rem;}
    }
    &_img{

      width: 50%;

    }}
}
@include media-xxl{
  .Vintus{
    width: 70%;
    flex-direction: row;
    &_article{
      width: 50%;
      p{
        font-size: 1rem;
      }
      h2{font-size: 1.5rem;}
    }
    &_img{

      width: 50%;

    }}
}