.Alta {
    label{margin: .3rem;}
    .form__label{margin:0;}
    display: flex;
    flex-direction: column;
  
  
    &_body {
      min-height:90vh;
      background-color: rgba(0, 0, 0, 0.849);
      color: set-text-color(rgba(0, 0, 0, 0.809));
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 2rem 0;
      align-items: center;
  
      .form {
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding: 2.5rem ;
        background-color: #3e3e3e;
        border-radius: 1rem;
        box-shadow: 5px 5px 15px rgb(0, 0, 0);
      }

      .form__field,.form__field_description{
        resize: none;
        margin-bottom: 15px;
        
      }
      
      
        label{
        font-size: .8rem;
        margin-bottom: 5px;
        width: 50%;
        color: #908f8f;
        cursor: pointer;
      }
      label:first-child{
        cursor: auto;
      }
      
      
      .form__input,
      .form__select {
        margin: 2.5px 0;
        resize: none;
        border: none;
        width: 100%;
        padding: 10px;
        background-color: transparent;
        border-bottom: solid 1px #908f8f;
        color: #FFF;

        &:focus{
          outline: none;
        border-bottom: solid 1px #ddd;
        }

      }
      p{color: $secondary-color;}
      .submit-Div{
        padding: 2rem 0;
        padding-top: 1rem;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 2rem;
      }
      #sub,#reset{
        font-size: 1.3rem;
        color: $secondary-color;
        background-color: transparent;
        border: none;
        width: fit-content;
        cursor: pointer;
        &:hover{
            color:#b9134f ;
        }
        
    }
      #form-error{
        text-align: center;
      }
      
      .animated{
        position: relative;
        transition: all .8s;
      }

      

      
      @include media-xl{
        .submit-Div{
          justify-content: end;
        }
        section{

          display: flex;
        gap: 6%;}
        article{width: 47%;}
        .form__field_description{width: 100%;}
        p{margin-left:1rem ;}
          .Div{
            align-items: normal;
            flex-direction: column;
          }
          .form__input,
          .form__select {
            width: 100%;}
      }

      
    }}