@import "./config","../menu/menu", "../shop/shop",'../itemPage/itemPage.scss', "../shop/shopSections/Filters/filter","../landing/landing.scss", "../cart/cart-module","../footer/footer","../alta/alta","../sobreNosotros/sobreNosotros","../contactos/contactos","../prePage/prePage","../User/user","../User/userPage/userMenu","../User/userPage/userPage","../User/userPage/UserInfo/userAdress","../User/userPage/UserInfo/userAuth","../User/userPage/UserInfo/userCart","../User/userPage/UserInfo/userOrders","../User/userPage/UserInfo/userProfile","../Purchase/purchase";


body {
  font-family: Arial, sans-serif;
  margin-top:53px;
}
.reset{
text-decoration: none;
color: #FFF;
}
.short_des{
  text-align: center;
}
